In [10]:
# Dependencies and Setup
# !pip install citipy
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import pprint
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [11]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

600

In [12]:
# 

# We eventually want to plug in multiple city names
base_url = f"https://api.openweathermap.org/data/2.5/weather?units=imperial&appid={weather_api_key}&q="

city_info = []

# city = "Los Angeles"

for city in cities:
    request = requests.get(base_url + city)
    response = request.json()
#     pp = pprint.PrettyPrinter(width=41, compact=True)
#     pp.pprint(response)
    try:
        city_dict = {
            "City": response['name'],
            "Lat": response['coord']['lat'],
            "Lon": response['coord']['lon'],
            "Max Temp": response['main']['temp_max'],
            "Humidity": response['main']['humidity'],
            "Cloudiness": response['clouds']['all'],
            "Wind Speed": response['wind']['speed'],
            "Country": response['sys']['country'],
            "Date": response['dt']
        }

        city_info.append(city_dict)
        
    except:
        print(f"{city} will not print")

illoqqortoormiut will not print
nizhneyansk will not print
mouzakion will not print
amderma will not print
belushya guba will not print
tsihombe will not print
ngukurr will not print
tabiauea will not print
ozgon will not print
taolanaro will not print
longlac will not print
sentyabrskiy will not print
grand river south east will not print
zarakes will not print
doctor pedro p. pena will not print
aflu will not print
lugovskiy will not print
attawapiskat will not print
samusu will not print
barentsburg will not print
rolim de moura will not print
mys shmidta will not print
lolua will not print
vaitupu will not print
kyle of lochalsh will not print
tumannyy will not print
umzimvubu will not print
mrirt will not print
samalaeulu will not print
meyungs will not print
saleaula will not print
old road will not print
rungata will not print
bolshegrivskoye will not print
maloshuyka will not print
fevralsk will not print
brahmapuri will not print
kachikau will not print
palabuhanratu will not print
jomalig will not print
hihifo will not print
khagrachari will not print
kamenskoye will not print
barbar will not print
toungoo will not print
alotau will not print

In [13]:
weather_df= pd.DataFrame(city_info)

weather_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Galesong,-5.3166,119.3661,77.02,80,71,3.69,ID,1636498341
1,Teno,-34.8667,-71.1833,74.75,43,0,10.36,CL,1636498342
2,Castro,-24.7911,-50.0119,62.13,94,3,9.35,BR,1636498342
3,Igrim,63.1906,64.4162,21.38,74,100,12.91,RU,1636498343
4,Busselton,-33.6500,115.3333,53.04,65,0,8.25,AU,1636498343
...,...,...,...,...,...,...,...,...,...
549,Egvekinot,66.3167,-179.1667,10.69,85,51,6.29,RU,1636498702
550,Ulaanbaatar,47.9077,106.8832,5.13,85,0,4.47,MN,1636498702
551,Yokadouma,3.5167,15.0500,71.44,90,93,0.67,CM,1636498703
552,Santa Marta,11.2408,-74.1990,86.34,82,55,12.55,CO,1636498561
553,Dicabisagan,17.0818,122.4157,77.70,88,97,4.59,PH,1636498704

In [14]:
# export DataFrame to a csv
weather_df.to_csv("WeatherPy.csv", encoding="utf-8", index= False)

In [16]:
# Numpy DataFrame


for city in cities: 
    


pp = pprint.PrettyPrinter(width=41, compact=True)
pp.pprint(response)

{'base': 'stations',
 'clouds': {'all': 97},
 'cod': 200,
 'coord': {'lat': 17.0818,
           'lon': 122.4157},
 'dt': 1636498704,
 'id': 1715015,
 'main': {'feels_like': 79.3,
          'grnd_level': 1012,
          'humidity': 88,
          'pressure': 1014,
          'sea_level': 1014,
          'temp': 77.7,
          'temp_max': 77.7,
          'temp_min': 77.7},
 'name': 'Dicabisagan',
 'sys': {'country': 'PH',
         'sunrise': 1636494740,
         'sunset': 1636535774},
 'timezone': 28800,
 'visibility': 10000,
 'weather': [{'description': 'overcast '
                             'clouds',
              'icon': '04d',
              'id': 804,
              'main': 'Clouds'}],
 'wind': {'deg': 317,
          'gust': 6.22,
          'speed': 4.59}}

In [50]:
new_weather

         Lat       Lon  Max Temp  Humidity  Cloudiness  Wind Speed        Date
0    -5.3166  119.3661     77.02        80          71        3.69  1636498341
1   -34.8667  -71.1833     74.75        43           0       10.36  1636498342
2   -24.7911  -50.0119     62.13        94           3        9.35  1636498342
3    63.1906   64.4162     21.38        74         100       12.91  1636498343
4   -33.6500  115.3333     53.04        65           0        8.25  1636498343
..       ...       ...       ...       ...         ...         ...         ...
549  66.3167 -179.1667     10.69        85          51        6.29  1636498702
550  47.9077  106.8832      5.13        85           0        4.47  1636498702
551   3.5167   15.0500     71.44        90          93        0.67  1636498703
552  11.2408  -74.1990     86.34        82          55       12.55  1636498561
553  17.0818  122.4157     77.70        88          97        4.59  1636498704

[554 rows x 7 columns]

In [175]:
# New DF
new_weather = weather_df.drop(columns=['City', 'Country'])



# Calculations
count = round(new_weather.count(), 2)
mean = round(new_weather.mean(), 2)
std = round(new_weather.std(), 2)
minimum = round(new_weather.min(), 2)
low_q = round(new_weather.quantile(.25), 2)
mid_q = round(new_weather.quantile(.50), 2)
upper_q = round(new_weather.quantile(.75), 2)


maximum = round(new_weather.max(), 2)


new_df = pd.DataFrame()
new_df["Count"] = count
new_df["Mean"] = mean
new_df["STD"] = std
new_df["Min"] = minimum
new_df["25%"] = low_q
new_df["50%"] = mid_q
new_df["75%"] = upper_q
new_df["Max"] = maximum

newest_df = new_df.transpose()



newest_df

,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date
Count,554.00,554.00,554.00,554.00,554.00,554.00,5.540000e+02
Mean,21.10,19.61,56.70,73.61,57.59,7.66,1.636499e+09
STD,32.81,89.73,24.30,19.67,38.64,5.45,1.125500e+02
Min,-54.80,-179.17,-22.04,5.00,0.00,0.00,1.636498e+09
25%,-5.30,-59.47,37.83,65.25,18.00,3.74,1.636498e+09
50%,25.17,23.59,65.20,78.00,74.00,6.41,1.636499e+09
75%,48.49,99.63,76.40,87.00,96.00,10.46,1.636499e+09
Max,78.22,179.32,91.38,100.00,100.00,44.47,1.636499e+09

,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date
Count,554.00,554.00,554.00,554.00,554.00,554.00,5.540000e+02
Mean,21.10,19.61,56.70,73.61,57.59,7.66,1.636499e+09
STD,32.81,89.73,24.30,19.67,38.64,5.45,1.125500e+02
Min,-54.80,-179.17,-22.04,5.00,0.00,0.00,1.636498e+09
Max,78.22,179.32,91.38,100.00,100.00,44.47,1.636499e+09