In [1]:
# Dependencies and Setup
# !pip install citipy
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import pprint
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

640

In [3]:
# 

# We eventually want to plug in multiple city names
base_url = f"https://api.openweathermap.org/data/2.5/weather?units=imperial&appid={weather_api_key}&q="

city_info = []

# city = "Los Angeles"

for city in cities:
    request = requests.get(base_url + city)
    response = request.json()
#     pp = pprint.PrettyPrinter(width=41, compact=True)
#     pp.pprint(response)
    try:
        city_dict = {
            "City": response['name'],
            "Lat": response['coord']['lat'],
            "Lon": response['coord']['lon'],
            "Max Temp": response['main']['temp_max'],
            "Humidity": response['main']['humidity'],
            "Cloudiness": response['clouds']['all'],
            "Wind Speed": response['wind']['speed'],
            "Country": response['sys']['country'],
            "Date": response['dt']
        }

        city_info.append(city_dict)
        
    except:
        print(f"{city} will not print")

fevralsk will not print
taolanaro will not print
attawapiskat will not print
amderma will not print
macaboboni will not print
belushya guba will not print
chagda will not print
anar darreh will not print
novoyegoryevskoye will not print
samusu will not print
tsihombe will not print
illoqqortoormiut will not print
toliary will not print
tidore will not print
sentyabrskiy will not print
bacuit will not print
vaitupu will not print
nizhneyansk will not print
blonduos will not print
mys shmidta will not print
mahadday weyne will not print
haibowan will not print
galiwinku will not print
tumannyy will not print
paucartambo will not print
halalo will not print
khormuj will not print
grand river south east will not print
umzimvubu will not print
satitoa will not print
aflu will not print
mudyuga will not print
barentsburg will not print
tabiauea will not print
saleaula will not print
kadykchan will not print
abiy adi will not print
felidhoo will not print
labutta will not print
dianopolis will not print
sedelnikovo will not print
mrirt will not print
galgani will not print
lolua will not print
sansai will not print
maykain will not print
tawkar will not print
warqla will not print
meyungs will not print
kamenskoye will not print
parras will not print
ayer itam will not print
bokspits will not print
pokrovsk-uralskiy will not print
marcona will not print
vestbygda will not print
balimo will not print
dzhusaly will not print
palabuhanratu will not print
bolungarvik will not print
taburi will not print
makung will not print
zlatoustovsk will not print
doctor pedro p. pena will not print
kuche will not print
mendahara will not print
mullaitivu will not print

In [4]:
weather_df= pd.DataFrame(city_info)

weather_df

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Vaini,-21.2000,-175.2000,80.76,89,75,6.91,TO,1636492996
1,Sulina,45.1559,29.6536,46.26,63,9,18.23,RO,1636492996
2,San Cristobal,7.7669,-72.2250,75.38,78,76,0.40,VE,1636492954
3,Albany,42.6001,-73.9662,60.28,64,9,1.01,US,1636492514
4,Bredasdorp,-34.5322,20.0403,52.92,76,65,3.44,ZA,1636492734
...,...,...,...,...,...,...,...,...,...
568,Katsuura,35.1333,140.3000,63.19,63,29,24.63,JP,1636493338
569,Pueblo Nuevo,23.3833,-105.3833,70.84,37,94,6.53,MX,1636493339
570,Borger,52.9233,6.7931,50.79,84,99,9.55,NL,1636493340
571,Zwedru,6.0667,-8.1281,74.80,94,78,3.20,LR,1636493340
572,Neiafu,-18.6500,-173.9833,83.08,74,40,9.22,TO,1636493320